<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>releases</id>
            <username>admin</username>
            <password>qazwsx!@#123</password>
        </server>
        <server>
            <id>snapshots</id>
            <username>admin</username>
            <password>qazwsx!@#123</password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>apache-snapshots</id>
            <name>aliyun maven snapshot</name>
            <url>https://maven.aliyun.com/repository/apache-snapshots</url>
            <mirrorOf>apache.snapshots</mirrorOf>
        </mirror>

        <mirror>
            <id>alimaven</id>
            <name>aliyun maven</name>
            <url>https://maven.aliyun.com/repository/public</url>
            <mirrorOf>central</mirrorOf>
        </mirror>

        <mirror>
            <id>aligoogle</id>
            <name>aliyun google</name>
            <url>https://maven.aliyun.com/repository/google</url>
            <mirrorOf>google</mirrorOf>
        </mirror>

        <mirror>
            <id>aligradleplugin</id>
            <name>aliyun gradle plugin</name>
            <url>https://maven.aliyun.com/repository/gradle-plugin</url>
            <mirrorOf>gradle-plugin</mirrorOf>
        </mirror>

        <mirror>
            <id>alijcenter</id>
            <name>aliyun jcenter</name>
            <url>https://maven.aliyun.com/repository/jcenter</url>
            <mirrorOf>jcenter</mirrorOf>
        </mirror>

        <mirror>
            <id>alipublic</id>
            <name>aliyunpublic</name>
            <url>https://maven.aliyun.com/repository/public</url>
            <mirrorOf>public</mirrorOf>
        </mirror>
        <mirror>
            <id>aliplugin</id>
            <name>aliyunplugin</name>
            <url>https://maven.aliyun.com/repository/spring-plugin</url>
            <mirrorOf>spring-plugin</mirrorOf>
        </mirror>


        <mirror>
            <id>maven-default-http-blocker</id>
            <mirrorOf>dummy</mirrorOf>
            <name>Dummy mirror to override default blocking mirror that blocks http</name>
            <url>http://0.0.0.0/</url>
        </mirror>
    </mirrors>
    <profiles>

        <profile>
            <id>quanzhi_dsa</id>
            <repositories>
                <repository>
                    <id>custom-public</id>
                    <name>custom-public</name>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                    <url>http://192.168.6.21:8081/repository/custom-public/</url>
                    <layout>default</layout>
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>maven-net-cn</id>
                    <name>Maven China Mirror</name>
                    <url>http://192.168.6.21:8081/repository/custom-public/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>

        </profile>
        <profile>
            <id>quanzhi-public</id>
            <repositories>
                <repository>
                    <id>quanzhi</id>
                    <url>http://192.168.0.92:8081/nexus/content/repositories/public/</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

</settings>
